@import "bootstrap/scss/bootstrap";

// Général

body {
	background-color: rgb(31, 31, 31);
	color: white;
}

nav {
	background-color: rgb(31, 31, 31);
}

// Page d'accueil
.Accueil {
	text-align: center;
}

// Présentation produit
#affiche {
	width: 65%;
}

// Carrousel

// .carousel-item {
// 	margin-left: 20vw;
// }
.carousel-inner img {
	height: 40em !important;
	// width: 50vw !important;
	// height: 75vh !important;
	// object-fit: cover;
}

// .carousel-caption {
// 	right: 50%;
// }

// .presentation {
// 	text-align: center;
// }

// ProduitCard

.prix {
	font-weight: bold;
}
.carte {
	text-align: center;
}

.imgCard {
	height: 15em !important;
}

// ProduitRow

.rowcarte {
	text-align: justify;
}

// Panier

.Panier {
	text-align: justify;
}

#Total {
	text-align: center;
	font-weight: bold;
}

#Total span {
	color: red;
}
